# Pulling Data from BLS

## 1. Import Functions and Set Variables

In [1]:
from _notebook_setup import *
hit_api = True
save_output = True

‚úÖ Notebook setup complete!
‚úÖ Available APIs: bls
‚úÖ Available libraries: pd, np, plt, sns, datetime
‚úÖ Helper functions: save_data(), save_figure(), load_data()
üìÅ Data directory: /Users/annebode/Documents/selfevidence.github.io/data
üìÅ Output directory: /Users/annebode/Documents/selfevidence.github.io/data/output
üìä Ready for analysis!

## 2. CPI (Unadjusted) Example

In [2]:
current_year= int(datetime.now().strftime("%Y"))
years = list(range(1979, current_year + 1))

# got series_ids from https://www.bls.gov/help/hlpforma.htm#OCWC

base_series_ids = {
    "CUUR": "CPI (Unadjusted)"
 }

regions = {
    "0000": "National",
    "0100": "Northeast",
    "0200": "Midwest",
    "0300": "South",
    "0400": "West",
}

items = {
    "SA0": "All items",
    "SA0L1E": "Core CPI (excludes food & energy)",
    "SAA": "Apparel",
    "SAE": "Education and communication",
    "SAF": "Food and beverages",
    "SAG": "Other goods and services",
    "SAH": "Housing",
    "SAM": "Medical care",
    "SAR": "Recreation",
    "SAT": "Transportation",
}

series_ids = [base_series_id + region + item for base_series_id in base_series_ids for region in regions for item in items]

if hit_api:
    df_cpi = bls.get_data(
        series_ids = series_ids,
        years = years,
    )
    df_cpi = bls.clean_data_cpi_unadjusted(df_cpi, base_series_ids, regions, items)
    if save_output:
        save_data(df=df_cpi, filename='00_example_inflation_data.csv')
else:
    df_cpi = load_data(filename='00_example_inflation_data.csv')

df_cpi.head()

/Users/annebode/Documents/selfevidence.github.io/data/apis/bls_api.py:80: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

üíæ Data saved: /Users/annebode/Documents/selfevidence.github.io/data/output/processed_data/00_example_inflation_data.csv

,series_id,year,period,value,data_type,region,item,date
0,CUUR0000SA0,1998,M12,163.9,CPI (Unadjusted),National,All items,1998-12-01
1,CUUR0000SA0,1998,M11,164.0,CPI (Unadjusted),National,All items,1998-11-01
2,CUUR0000SA0,1998,M10,164.0,CPI (Unadjusted),National,All items,1998-10-01
3,CUUR0000SA0,1998,M09,163.6,CPI (Unadjusted),National,All items,1998-09-01
4,CUUR0000SA0,1998,M08,163.4,CPI (Unadjusted),National,All items,1998-08-01

## 3. CPS Weekly Nominal Earnings Example

In [3]:
current_year= int(datetime.now().strftime("%Y"))
years = list(range(1979, current_year + 1))

# series_ids obtained from: https://data.bls.gov/PDQWeb/le

series_id_dict = {
    
    # First Decile
    'LEU0252911200': {
        'description': '(unadj)- Usual weekly earnings (first decile), Employed full time, Wage and salary workers',
        'percentile': 10,
        'race': 'All'
    },
    'LEU0252912400': {
        'description': '(unadj)- Usual weekly earnings (first decile), Employed full time, Wage and salary workers, White',
        'percentile': 10,
        'race': 'White'
    },
    'LEU0252914800': {
        'description': '(unadj)- Usual weekly earnings (first decile), Employed full time, Wage and salary workers, Hispanic / Latino',
        'percentile': 10,
        'race': 'Hispanic / Latino'
    },
    'LEU0252913600': {
        'description': '(unadj)- Usual weekly earnings (first decile), Employed full time, Wage and salary workers, Black',
        'percentile': 10,
        'race': 'Black'
    },
    'LEU0254871400': {
        'description': '(unadj)- Usual weekly earnings (first decile), Employed full time, Wage and salary workers, Asian',
        'percentile': 10,
        'race': 'Asian'
    },

    # First Quartile
    'LEU0252911300': {
        'description': '(unadj)- Usual weekly earnings (first quartile), Employed full time, Wage and salary workers',
        'percentile': 25,
        'race': 'All'
    },
    'LEU0252912500': {
        'description': '(unadj)- Usual weekly earnings (first quartile), Employed full time, Wage and salary workers, White',
        'percentile': 25,
        'race': 'White'
    },
    'LEU0252914900': {
        'description': '(unadj)- Usual weekly earnings (first quartile), Employed full time, Wage and salary workers, Hispanic / Latino',
        'percentile': 25,
        'race': 'Hispanic / Latino'
    },
    'LEU0252913700': {
        'description': '(unadj)- Usual weekly earnings (first quartile), Employed full time, Wage and salary workers, Black',
        'percentile': 25,
        'race': 'Black'
    },
    'LEU0254871700': {
        'description': '(unadj)- Usual weekly earnings (first quartile), Employed full time, Wage and salary workers, Asian',
        'percentile': 25,
        'race': 'Asian'
    },

    # Second Quartile
    'LEU0252881500': {
        'description': '(unadj)- Usual weekly earnings (second quartile), Employed full time, Wage and salary workers',
        'percentile': 50,
        'race': 'All'
    },
    'LEU0252883600': {
        'description': '(unadj)- Median usual weekly earnings (second quartile), Employed full time, Wage and salary workers, White',
        'percentile': 50,
        'race': 'White'
    },
    'LEU0252885400': {
        'description': '(unadj)- Median usual weekly earnings (second quartile), Employed full time, Wage and salary workers, Hispanic / Latino',
        'percentile': 50,
        'race': 'Hispanic / Latino'
    },
    'LEU0252884500': {
        'description': '(unadj)- Median usual weekly earnings (second quartile), Employed full time, Wage and salary workers, Black',
        'percentile': 50,
        'race': 'Black'
    },
    'LEU0254468400': {
        'description': '(unadj)- Median usual weekly earnings (second quartile), Employed full time, Wage and salary workers, Asian',
        'percentile': 50,
        'race': 'Asian'
    },

    # Third Quartile
    'LEU0252911400': {
        'description': '(unadj)- Usual weekly earnings (third quartile), Employed full time, Wage and salary workers',
        'percentile': 75,
        'race': 'All'
    },
    'LEU0252912600': {
        'description': '(unadj)- Usual weekly earnings (third quartile), Employed full time, Wage and salary workers, White',
        'percentile': 75,
        'race': 'White'
    },
    'LEU0252915000': {
        'description': '(unadj)- Usual weekly earnings (third quartile), Employed full time, Wage and salary workers, Hispanic / Latino',
        'percentile': 75,
        'race': 'Hispanic / Latino'
    },
    'LEU0252913800': {
        'description': '(unadj)- Usual weekly earnings (third quartile), Employed full time, Wage and salary workers, Black',
        'percentile': 75,
        'race': 'Black'
    },
    'LEU0254872000': {
        'description': '(unadj)- Usual weekly earnings (third quartile), Employed full time, Wage and salary workers, Asian',
        'percentile': 75,
        'race': 'Asian'
    },

    # Ninth Decile
    'LEU0252911500': {
        'description': '(unadj)- Usual weekly earnings (ninth decile), Employed full time, Wage and salary workers',
        'percentile': 90,
        'race': 'All'
    },
    'LEU0252912700': {
        'description': '(unadj)- Usual weekly earnings (ninth decile), Employed full time, Wage and salary workers, White',
        'percentile': 90,
        'race': 'White'
    },
    'LEU0252915100': {
        'description': '(unadj)- Usual weekly earnings (ninth decile), Employed full time, Wage and salary workers, Hispanic / Latino',
        'percentile': 90,
        'race': 'Hispanic / Latino'
    },
    'LEU0252913900': {
        'description': '(unadj)- Usual weekly earnings (ninth decile), Employed full time, Wage and salary workers, Black',
        'percentile': 90,
        'race': 'Black'
    },
    'LEU0254872300': {
        'description': '(unadj)- Usual weekly earnings (ninth decile), Employed full time, Wage and salary workers, Asian',
        'percentile': 90,
        'race': 'Asian'
    },

}

if hit_api:
    df_wages = bls.get_data(
        series_ids = list(series_id_dict.keys()),
        years = years,
    )
    df_wages = bls.clean_data_weekly_nominal_earnings(df_wages, series_id_dict)
    if save_output:
        save_data(df=df_wages, filename='00_example_wage_data.csv')

else:
    df_wages = load_data(filename='00_example_wage_data.csv')

df_wages.head()

/Users/annebode/Documents/selfevidence.github.io/data/apis/bls_api.py:80: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

üíæ Data saved: /Users/annebode/Documents/selfevidence.github.io/data/output/processed_data/00_example_wage_data.csv

,series_id,year,period,value,data_type,description,percentile,race
0,LEU0252881500,1998,Q04,541.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All
1,LEU0252881500,1998,Q03,520.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All
2,LEU0252881500,1998,Q02,515.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All
3,LEU0252881500,1998,Q01,521.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All
4,LEU0252881500,1997,Q04,511.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All